Repository itmo-is-dev/ASAP, pull requests merged in 2023-05, with the labels that each got.

#147 refactor: removed unused methods
  src/core/Application/ITMO.Dev.ASAP.Application.Abstractions/ITMO.Dev.ASAP.Application.Abstractions.csproj
  src/core/Application/ITMO.Dev.ASAP.Application.Abstractions/Submissions/ISubmissionFactory.cs
  src/core/Application/ITMO.Dev.ASAP.Application.Dto/Querying/QueryParameter.cs
  src/core/Application/ITMO.Dev.ASAP.Application.Dto/Study/StudyGroupDto.cs
  src/core/Application/ITMO.Dev.ASAP.Application.Specifications/SubjectCourseSpecifications.cs
  src/core/Application/ITMO.Dev.ASAP.Application/Extensions/SubmissionExtensions.cs
  src/core/Playground/ITMO.Dev.ASAP.DataImport/Models/GroupName.cs
  src/core/Presentation/ITMO.Dev.ASAP.Commands/Contexts/BaseContext.cs
  src/core/Presentation/ITMO.Dev.ASAP.Commands/Contexts/CreateSubmissionContext.cs
  src/core/Presentation/ITMO.Dev.ASAP.Commands/Contexts/ISubmissionCommandContextFactory.cs
  src/core/Presentation/ITMO.Dev.ASAP.Commands/Contexts/PayloadAndAssignmentContext.cs
  src/core/Presentation/ITMO.Dev.ASAP.Commands/Contexts/SubmissionContext.cs
  src/core/Presentation/ITMO.Dev.ASAP.Commands/Contexts/UpdateContext.cs
  src/core/Presentation/ITMO.Dev.ASAP.Commands/Extensions/ServiceCollectionExtensions.cs
  src/core/Presentation/ITMO.Dev.ASAP.Commands/ITMO.Dev.ASAP.Commands.csproj
  src/core/Presentation/ITMO.Dev.ASAP.Commands/Result/BaseCommandResult.cs
  src/core/Presentation/ITMO.Dev.ASAP.Commands/Result/ICommandResult.cs
  src/core/Presentation/ITMO.Dev.ASAP.Commands/SubmissionCommands/ActivateCommand.cs
  src/core/Presentation/ITMO.Dev.ASAP.Commands/Tools/DefaultSubmissionProvider.cs
  src/core/Presentation/ITMO.Dev.ASAP.Commands/Tools/ICreateSubmissionCommandFactory.cs
  src/core/Presentation/ITMO.Dev.ASAP.Commands/Tools/IDefaultSubmissionProvider.cs
  src/github/Presentation/ITMO.Dev.ASAP.Github.Presentation.Webhooks/Notifiers/ActionNotifier.cs
  src/github/Presentation/ITMO.Dev.ASAP.Github.Presentation.Webhooks/Notifiers/IActionNotifier.cs
  src/google/Application/Abstractions/ITMO.Dev.ASAP.Google.Application.Abstractions/Providers/ITablesParentsProvider.cs
  tests/ITMO.Dev.ASAP.Tests.Handlers/Study/GroupAssignments/UpdateGroupAssignmentDeadlineTest.cs
  tests/ITMO.Dev.ASAP.Tests.Services/SubjectCourseServiceTest.cs
  tests/ITMO.Dev.ASAP.Tests/Extensions/DatabaseContextTestExtensions.cs
  tests/ITMO.Dev.ASAP.Tests/Extensions/SubmissionExtensions.cs
Labels: kind:refactoring

#148 close #145 fix: github invites
  ITMO.Dev.ASAP.sln
  src/ITMO.Dev.ASAP/Extensions/ServiceCollectionExtensions.cs
  src/ITMO.Dev.ASAP/ITMO.Dev.ASAP.csproj
  src/ITMO.Dev.ASAP/Program.cs
  src/github/ITMO.Dev.ASAP.Github/ITMO.Dev.ASAP.Github.csproj
  src/github/ITMO.Dev.ASAP.Github/ServiceCollectionExtensions.cs
  src/github/ITMO.Dev.ASAP.Github/ServiceScopeExtensions.cs
  src/github/Infrastructure/ITMO.Dev.ASAP.Github.DataAccess/Extensions/ServiceCollectionExtensions.cs
  src/github/Infrastructure/ITMO.Dev.ASAP.Github.Octokit/Extensions/ServiceCollectionExtensions.cs
Labels: kind:fix, area:github

#150 refactor: attachment associations
  src/core/Application/ITMO.Dev.ASAP.Application.Handlers/Users/UpdateUserUniversityIdHandler.cs
  src/core/Domain/ITMO.Dev.ASAP.Domain/UserAssociations/IsuUserAssociation.cs
  src/core/Domain/ITMO.Dev.ASAP.Domain/UserAssociations/UserAssociation.cs
  src/core/Infrastructure/ITMO.Dev.ASAP.Seeding/EntityGenerators/UserAssociations/IsuUserAssociationGenerator.cs
Labels: type:task, kind:refactoring, area:core

#153 fix: frontend using
  src/frontend/ITMO.Dev.ASAP.WebUI.Markup/Groups/Components/StudyGroupStudentsComponent.razor
Labels: kind:fix, area:ui

#154 fix: frontend using
  src/frontend/ITMO.Dev.ASAP.WebUI.Markup/Groups/Components/StudyGroupStudentComponent.razor
Labels: kind:fix, area:ui

#157 fix: github
  src/github/Infrastructure/ITMO.Dev.ASAP.Github.DataAccess/Repositories/GithubSubmissionRepository.cs
Labels: kind:fix, area:github

#158 fix: github unit of work
  src/github/Infrastructure/ITMO.Dev.ASAP.Github.DataAccess/Extensions/DbConnectionExtensions.cs
  src/github/Infrastructure/ITMO.Dev.ASAP.Github.DataAccess/GithubDbConnection.cs
  src/github/Infrastructure/ITMO.Dev.ASAP.Github.DataAccess/UnitOfWork.cs
  tests/ITMO.Dev.ASAP.Tests.Github/Fixtures/DatabaseFixture.cs
Labels: kind:fix, area:github

#161 fix: github invalid branch message
  src/ITMO.Dev.ASAP/appsettings.json
  src/core/Domain/ITMO.Dev.ASAP.Common/Exceptions/EntityNotFoundException.cs
  src/github/Application/ITMO.Dev.ASAP.Github.Application.Handlers/PullRequestEvents/PullRequestUpdatedHandler.cs
  src/github/Application/ITMO.Dev.ASAP.Github.Application.Specifications/AssignmentSpecifications.cs
  src/github/ITMO.Dev.ASAP.Github.Common/Exceptions/Entities/EntityNotFoundException.cs
  src/github/ITMO.Dev.ASAP.Github.Common/ITMO.Dev.ASAP.Github.Common.csproj
  src/github/ITMO.Dev.ASAP.Github.Common/Resources/GithubUserMessages.Designer.cs
  src/github/ITMO.Dev.ASAP.Github.Common/Resources/GithubUserMessages.resx
Labels: kind:fix, area:github

#162 fix: exception notification
  src/github/Application/Abstractions/ITMO.Dev.ASAP.Github.Application.Octokit/Extensions/PullRequestEventNotifierExtensions.cs
Labels: kind:fix, area:github

#163 fix: exception notification
  src/github/Application/Abstractions/ITMO.Dev.ASAP.Github.Application.Octokit/Extensions/PullRequestEventNotifierExtensions.cs
  src/github/Application/Abstractions/ITMO.Dev.ASAP.Github.Application.Octokit/ITMO.Dev.ASAP.Github.Application.Octokit.csproj
Labels: kind:fix, area:github

#164 Fix/UI elements access
  src/frontend/ITMO.Dev.ASAP.WebUI.Markup/ITMO.Dev.ASAP.WebUI.Markup.csproj
  src/frontend/ITMO.Dev.ASAP.WebUI.Markup/Identity/Logout.razor
  src/frontend/ITMO.Dev.ASAP.WebUI.Markup/SubjectCourse/Components/Assignments/AssignmentsTabComponent.razor
  src/frontend/ITMO.Dev.ASAP.WebUI.Markup/SubjectCourse/SubjectCoursePage.razor
  src/frontend/ITMO.Dev.ASAP.WebUI.Markup/SubjectCourseAssociations/Components/SubjectCourseGithubAssociationComponent.razor
  src/frontend/ITMO.Dev.ASAP.WebUI/wwwroot/css/app.css
Labels: kind:fix, area:ui

#151 fix: AssignmentCreatedHandler addition
  src/core/Application/ITMO.Dev.ASAP.Application.Contracts/Study/Assignments/Notifications/AssignmentCreated.cs
  src/github/Application/ITMO.Dev.ASAP.Github.Application.Handlers/Assignments/AssignmentCreatedHandler.cs
  src/github/ITMO.Dev.ASAP.Github.Domain/Assignments/GithubAssignment.cs
  tests/ITMO.Dev.ASAP.Tests.Github/Handlers/GithubAssignmentCreatedHandlerTest.cs
  tests/ITMO.Dev.ASAP.Tests.Github/ITMO.Dev.ASAP.Tests.Github.csproj
Labels: kind:fix, kind:refactoring, area:github

#170 refactor: removed redundant section checks
  src/github/Infrastructure/ITMO.Dev.ASAP.Github.Octokit/Configuration/ServiceClients/InstallationServiceClientLink.cs
  src/github/Infrastructure/ITMO.Dev.ASAP.Github.Octokit/Configuration/ServiceClients/OrganizationServiceClientLink.cs
  src/github/Infrastructure/ITMO.Dev.ASAP.Github.Octokit/Configuration/ServiceClients/UserServiceClientLink.cs
Labels: kind:refactoring, area:github

#171 refactor: login screen
  src/frontend/ITMO.Dev.ASAP.WebUI.Markup/Identity/Login.razor
  src/frontend/ITMO.Dev.ASAP.WebUI.Markup/Shared/Components/LoaderComponent.razor
  src/github/ITMO.Dev.ASAP.Github/ServiceScopeExtensions.cs
Labels: kind:refactoring, area:ui

#172 fix: github notifications
  src/frontend/ITMO.Dev.ASAP.WebUI.Markup/Identity/Login.razor
  src/frontend/ITMO.Dev.ASAP.WebUI.Markup/Shared/Components/LoaderComponent.razor
  src/github/Application/Abstractions/ITMO.Dev.ASAP.Github.Application.Octokit/Extensions/PullRequestEventNotifierExtensions.cs
  src/github/ITMO.Dev.ASAP.Github/ServiceScopeExtensions.cs
Labels: kind:fix, area:github

#175 Create LISENCE
  LISENCE
  README.md
Labels: kind:documentation

#178 fix: github connection disposal
  src/core/Infrastructure/ITMO.Dev.ASAP.DataAccess/Configuration/PostgresConfiguration.cs
  src/github/Infrastructure/ITMO.Dev.ASAP.Github.DataAccess/GithubDbConnection.cs
Labels: kind:fix, area:github

#180 fix: update user authorization
  src/core/Application/ITMO.Dev.ASAP.Application.Abstractions/Identity/IAuthorizationService.cs
  src/core/Application/ITMO.Dev.ASAP.Application.Abstractions/Identity/ICurrentUser.cs
  src/core/Application/ITMO.Dev.ASAP.Application.Contracts/Users/Commands/UpdateUserUniversityId.cs
  src/core/Application/ITMO.Dev.ASAP.Application.Handlers/Users/UpdateUserUniversityIdHandler.cs
  src/core/Application/ITMO.Dev.ASAP.Application/Users/AdminUser.cs
  src/core/Application/ITMO.Dev.ASAP.Application/Users/AnonymousUser.cs
  src/core/Application/ITMO.Dev.ASAP.Application/Users/CurrentUserProxy.cs
  src/core/Application/ITMO.Dev.ASAP.Application/Users/MentorUser.cs
  src/core/Application/ITMO.Dev.ASAP.Application/Users/ModeratorUser.cs
  src/core/Infrastructure/ITMO.Dev.ASAP.Identity/Services/AuthorizationService.cs
  src/core/Presentation/ITMO.Dev.ASAP.Controllers/Extensions/HttpContextExtensions.cs
  src/core/Presentation/ITMO.Dev.ASAP.Controllers/UserController.cs
Labels: kind:fix, area:core
